<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>lab_exp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A corporate Bootstrap theme by Medium Rare">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2">
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2">
</head>

<body style="overflow-x: hidden; " data-smooth-scroll-offset="73" data-dropdown-grid-hover="true">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <div class="navbar-container ">
    <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
      <div class="container">
        <a class="navbar-brand fade-page" href="/">
          <img src="../public/assets/img/logo-white.svg" alt="Leap">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-expanded="false" aria-label="Toggle navigation">
          <img class="icon navbar-toggler-open" src="../public/assets/img/icons/interface/menu.svg"
            alt="menu interface icon" />
          <img class="icon navbar-toggler-close" src="../public/assets/img/icons/interface/cross.svg"
            alt="cross interface icon" />
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="py-2 py-lg-0">
            <ul class="navbar-nav">

              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false"
                  aria-haspopup="true">Surveys</a>
                <div class="dropdown-menu row">
                  <div class="col-auto" data-dropdown-content>
                    <div class="dropdown-grid-menu">
                      <a href="/surveys/gritshort" class="dropdown-item fade-page">Grit Short</a>
                      <a href="/surveys/bigfiveaspect" class="dropdown-item fade-page">Big Five Aspects<span class="badge badge-primary ml-2">New</span></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false"
                  aria-haspopup="true">Tasks</a>
                <div class="dropdown-menu row">
                  <div class="col-auto" data-dropdown-content>
                    <div class="dropdown-grid-menu">
                      <div class="dropdown">
                        <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown-grid"
                          aria-expanded="false" aria-haspopup="true">
                          <span>Delay Discount</span>
                          <img class="icon opacity-20" src="../public/assets/img/icons/interface/arrow-caret.svg"
                            alt="arrow-caret interface icon" />
                        </a>
                        <div class="dropdown-menu row">
                          <div class="col-auto" data-dropdown-content>
                            <div class="dropdown-grid-menu">
                              <a href="/delaydiscount" class="dropdown-item fade-page">Go to task</a>
                              <a href="/delaydiscount/viz" class="dropdown-item fade-page">See visualizations</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown-grid"
                          aria-expanded="false" aria-haspopup="true">
                          <span>Symbol Counting</span>
                          <img class="icon opacity-20" src="../public/assets/img/icons/interface/arrow-caret.svg"
                            alt="arrow-caret interface icon" />
                        </a>
                        <div class="dropdown-menu row">
                          <div class="col-auto" data-dropdown-content>
                            <div class="dropdown-grid-menu">
                              <a href="/symbol-count" class="dropdown-item fade-page">Go to task</a>
                              <a href="/symbol-count/viz" class="dropdown-item fade-page">See visualizations</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown-grid"
                          aria-expanded="false" aria-haspopup="true">
                          <span>Stroop</span>
                          <img class="icon opacity-20" src="../public/assets/img/icons/interface/arrow-caret.svg"
                            alt="arrow-caret interface icon" />
                        </a>
                        <div class="dropdown-menu row">
                          <div class="col-auto" data-dropdown-content>
                            <div class="dropdown-grid-menu">
                              <a href="/stroop" class="dropdown-item fade-page">Go to task</a>
                              <a href="/stroop/viz" class="dropdown-item fade-page">See visualizations</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="dropdown">
                        <a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown-grid"
                          aria-expanded="false" aria-haspopup="true">
                          <span>Mental Math<span class="badge badge-primary ml-2">New</span></span>
                          <img class="icon opacity-20" src="../public/assets/img/icons/interface/arrow-caret.svg"
                            alt="arrow-caret interface icon" />
                        </a>
                        <div class="dropdown-menu row">
                          <div class="col-auto" data-dropdown-content>
                            <div class="dropdown-grid-menu">
                              <a href="/mentalmath" class="dropdown-item fade-page">Go to task</a>
                              <a href="/mentalmath/viz" class="dropdown-item fade-page">See visualizations</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false"
                  aria-haspopup="true">Studies</a>
                <div class="dropdown-menu row">
                  <div class="col-auto" data-dropdown-content>
                    <div class="dropdown-grid-menu">
                      <a href="#" class="dropdown-item fade-page">Study A<span
                          class="badge badge-primary ml-2">New</span></a>
                    </div>
                  </div>
                </div>
              </li>

              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false"
                  aria-haspopup="true">About Us</a>
                <div class="dropdown-menu row">
                  <div class="col-auto px-0" data-dropdown-content>
                    <div class="bg-white rounded border shadow-lg o-hidden">
                      <div class="list-group list-group-flush">
                        <a href="#"
                          class="list-group-item list-group-item-action d-flex align-items-center p-3">
                          <img class="icon icon-md" src="../public/assets/img/icons/theme/files/selected-file.svg"
                            alt="selected-file icon" />
                          <div class="text-body ml-3">
                            <span>About the Site</span>
                            <div class="text-small text-muted">Get all the information you need</div>
                          </div>
                        </a>
                        <a href="#"
                          class="list-group-item list-group-item-action d-flex align-items-center p-3">
                          <img class="icon icon-md" src="../public/assets/img/icons/theme/communication/chat-4.svg"
                            alt="chat-4 icon" />
                          <div class="text-body ml-3">
                            <span>FAQ</span>
                            <div class="text-small text-muted">See frequently asked questions</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
    </nav>
  </div>