<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
    <div class="container">

      <!-- navbar left logo -->
      <a class="navbar-brand fade-page" href="/">
        <img src="../public/assets/img/logo-white.svg" alt="Anthrope">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="../public/assets/img/icons/interface/menu-dark.svg" alt="menu interface icon" />
        <img class="icon navbar-toggler-close" src="../public/assets/img/icons/interface/cross-dark.svg" alt="cross interface icon" />
      </button>

      <div class="collapse navbar-collapse justify-content-end">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">

            <!-- navbar right buttons -->
            <li class="nav-item">
              <a href="/surveys" class="nav-link">Surveys</a>
            </li>
            <li class="nav-item">
              <a href="/tasks" class="nav-link">Tasks</a>
            </li>
            <li class="nav-item">
              <a href="/studies" class="nav-link">Studies</a>
            </li>
            <!-- <li class="nav-item">
              <a href="/about" class="nav-link">About</a>
            </li> -->

          </ul>
        </div>
      </div>

    </div>
  </nav>
</div>