<div class="navbar-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary" data-overlay data-sticky="top">
    <div class="container">
      <a class="navbar-brand fade-page" href="/">
        <img src="../../public/assets/img/logo-white.svg" alt="Anthrope">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <img class="icon navbar-toggler-open" src="../public/assets/img/icons/interface/menu.svg" alt="menu interface icon" />
        <img class="icon navbar-toggler-close" src="../public/assets/img/icons/interface/cross.svg" alt="cross interface icon" />
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <div class="py-2 py-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/surveys" class="nav-link" data-toggle="dropdown-grid" data-smooth-scroll>Surveys</a>
            </li>
            <li class="nav-item">
              <a href="/tasks" class="nav-link" data-toggle="dropdown-grid" data-smooth-scroll>Tasks</a>
            </li>
            <li class="nav-item">
              <a href="/studies" class="nav-link" data-toggle="dropdown-grid" data-smooth-scroll>Studies</a>
            </li>
            <li class="nav-item">
              <a href="/about" class="nav-link" data-toggle="dropdown-grid" data-smooth-scroll>About</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
</div>