<p>hi</p>

<ul>
    <% discount_data.forEach(function(trial){ %>
    <li><%= trial._id %>
        <ul>
            <% trial.data.forEach(function(response){ %>
            <li>
                <%= response.trial_index %>
            </li>
            <% }); %>
        </ul>
    </li>
    <% }); %>
</ul>

<%
    var filtered = discount_data[0].data.filter(function(response) {
        return response.trial_type == "html-keyboard-response";
    });
%>
<%
    indifference_array = [];
    rt_array = [];
    for (i = 0; i < filtered.length; i++) {
        indifference_array.push(filtered[i].indifference)
        rt_array.push(filtered[i].rt)
    };
%>
<%= console.log(indifference_array) %>
<%= console.log(rt_array) %>








<%
    var filtered = discount_data[0].data.filter(function(response) {
        return response.trial_type == "html-keyboard-response";
    });
%>
<%
    indifference_array = [];
    rt_array = [];
    for (i = 0; i < filtered.length; i++) {
        indifference_array.push(filtered[i].indifference)
        rt_array.push(filtered[i].time_elapsed)
    };
%>

<head>
    <!-- Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<!-- Plots go in blank <div> elements. 
      You can size them in the plot layout,
      or give the div a size as shown here.
  -->
<div id="user1" style="width:75%;height:75%;">
</div>

<script>
    function chunkArray(myArray, chunk_size) {
        var index = 0;
        var arrayLength = myArray.length;
        var tempArray = [];
        for (index = 0; index < arrayLength; index += chunk_size) {
            myChunk = myArray.slice(index, index + chunk_size);
            // Do something if you want with the group
            tempArray.push(myChunk);
        }
        return tempArray;
    }
</script>
<script>
    var user_id = '<%= discount_data[0]._id %>';
    var client_rt_array = [<%= rt_array %>];
    client_rt_chunk = chunkArray(client_rt_array, 5);
    var client_indifference_array = [<%= indifference_array %>];
    client_indifference_chunk = chunkArray(client_indifference_array, 5);
    console.log(client_rt_array);
    console.log(client_indifference_array);

    var trace1 = {
        x: client_rt_chunk[0],
        y: client_indifference_chunk[0],
        mode: 'markers',
        type: 'scatter',
        name: 'Trial 1',
        text: ['A-1', 'A-2', 'A-3', 'A-4', 'A-5'],
        marker: { size: 12 }
    };

    var trace2 = {
        x: client_rt_chunk[1],
        y: client_indifference_chunk[1],
        mode: 'markers',
        type: 'scatter',
        name: 'Trial 2',
        text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
        marker: { size: 12 }
    };

    var trace3 = {
        x: client_rt_chunk[2],
        y: client_indifference_chunk[2],
        mode: 'markers',
        type: 'scatter',
        name: 'Trial 3',
        text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
        marker: { size: 12 }
    };

    var trace4 = {
        x: client_rt_chunk[3],
        y: client_indifference_chunk[3],
        mode: 'markers',
        type: 'scatter',
        name: 'Trial 4',
        text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
        marker: { size: 12 }
    };

    var trace5 = {
        x: client_rt_chunk[4],
        y: client_indifference_chunk[4],
        mode: 'markers',
        type: 'scatter',
        name: 'Trial 5',
        text: ['B-a', 'B-b', 'B-c', 'B-d', 'B-e'],
        marker: { size: 12 }
    };

    var data = [trace1, trace2, trace3, trace4, trace5];

    var layout = {
        xaxis: {},
        yaxis: {},
        title: 'Delay Discount User ' + user_id + ' Data'
    };

    Plotly.newPlot('user1', data, layout);
</script>