<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anthrope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Page Not Found">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <section class="min-vh-100 bg-primary-3 text-light py-5 o-hidden">
    <div class="container">
      <div class="row justify-content-center mb-md-6">
        <div class="col-auto">
        </div>
      </div>
      <div class="row text-center py-6">
        <div class="col layer-2">
          <h1 class="display-1 mb-0">Coming soon!</h1>
          <br>
          <div class="lead mb-4">We are still working on this feature...</div>
          <a class="btn btn-primary btn-lg" href="/">Go back</a>
        </div>
      </div>
    </div>

  </section>
  
  <!-- Removes page load animation when window is finished loading -->
  <script type="text/javascript">
    window.addEventListener("load", function () {    document.querySelector('body').classList.add('loaded');  });
  </script>

</body>

</html>