<!DOCTYPE HTML>
<html>

<head>
    <title>Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../frontend/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="../frontend/assets/css/noscript.css" /></noscript>
    <script src="../../libraries/utils.js"></script>
    <script src="../libraries/plotly-latest.min.js"></script>
</head>

<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <h1>Delay discounting results</h1>
            <p id="subject">Subject: </p>
            <p id="auc">Your area-under-curve is </p>
        </header>
        <div id="main">
            <section id="content" class="main">
                <div id="indiff_curve" style="width:100%;height:100%;"></div>
            </section>
        </div>
    </div>
    <script>
        // retrieve objects from sessionStorage
        datasummary = sessionStorage.getObj("datasummary_delaydiscount_");
        info = sessionStorage.getObj("info_");

        var subject_id = info.subject;
        var id_header = document.getElementById("subject");
        id_header.textContent += subject_id;

        console.log('subject id: ' + subject_id);
        console.log('datasummary_')
        console.log(datasummary)

        var auc = datasummary.auc; // TODO Frank: round this number to 4 decimal places
        var auc_header = document.getElementById("auc");
        auc_header.textContent += auc;
    </script>
    <script>

        // plot indifference (y) against delay (x)

        var delayed_reward = datasummary.delayed_reward[0]; // x axis
        var indiff = datasummary.indifference; // y axis
        var indiff_normed = divide(indiff, delayed_reward); // normalize y axis to range from 0 to 1

        var trace = {
            x: datasummary.cost,
            y: indiff_normed,
            mode: 'markers',
            type: 'scatter',
            marker: {
                size: 15,
                color: [1, 1, 1, 1, 2], // TODO Frank: behaves in a funny way...
                colorscale: 'Viridis', // TODO Frank, can't change color scheme...
            }
        };

        var data = [trace];

        var layout = {
            autosize: true,
            automargin: true,
            // width: 800, // https://plotly.com/javascript/setting-graph-size/
            height: 700,
            title: {
                text: 'Indifference curve',
                font: { size: 28 }
            },
            xaxis: {
                title: {
                    text: "Delay (days to reward)",
                    font: {
                        size: 24
                    }
                },
                tickwidth: 4, // https://plotly.com/javascript/axes/#toggling-axes-lines-ticks-labels-and-autorange
                ticklen: 8,
                ticks: 'inside',
                tickfont: { // https://plotly.com/javascript/reference/#layout-scene-xaxis-tickfont-size
                    size: 20
                }
            },
            yaxis: {
                title: {
                    text: "Subjective value",
                    font: {
                        size: 24
                    }
                },
                range: [-0.05, 1.05],
                tickfont: {
                    size: 20
                }
            }
        };

        var config = { responsive: true }; // https://plotly.com/javascript/responsive-fluid-layout/

        Plotly.newPlot('indiff_curve', data, layout, config);
    </script>

    <script src="../frontend/assets/js/jquery.min.js"></script>
    <script src="../frontend/assets/js/jquery.scrollex.min.js"></script>
    <script src="../frontend/assets/js/jquery.scrolly.min.js"></script>
    <script src="../frontend/assets/js/browser.min.js"></script>
    <script src="../frontend/assets/js/breakpoints.min.js"></script>
    <script src="../frontend/assets/js/util.js"></script>
    <script src="../frontend/assets/js/main.js"></script>
</body>

</html>