<!DOCTYPE HTML>
<html>

<head>
    <title>Data</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../frontend/assets/css/main.css" />
    <noscript>
        <link rel="stylesheet" href="../frontend/assets/css/noscript.css" /></noscript>
    <script src="../../libraries/utils.js"></script>
    <script src="../libraries/plotly-latest.min.js"></script>
</head>

<body class="is-preload">
    <div id="wrapper">
        <header id="header">
            <h1>Delay Discounting Data</h1>
            <p id="subject">Delay Discount Data for Subject: </p>
            <p id="auc">Your area-under-curve is </p>
        </header>
        <div id="main">
            <section id="content" class="main">
                <div id="indiff_curve" style="width:100%;height:100%;"></div>
            </section>
        </div>
    </div>
    <script>
        data = sessionStorage.getObj("delay_discounting_data")
        var subject_id = data.subject;
        console.log(subject_id);
        var id_header = document.getElementById("subject");
        id_header.textContent += subject_id;

        var auc = data.auc;
        var auc_header = document.getElementById("auc");
        auc_header.textContent += auc;
    </script>
    <script>
        var costs = data.cost;
        var indiff = data.indifference;

        var filtered_costs = [];
        var filtered_indiff = [];
        for (i = Number(data.trials_per_cost) - 1; i < costs.length; i = i + Number(data.trials_per_cost)) {
            filtered_costs.push(costs[i]);
        }
        for (i = Number(data.trials_per_cost) - 1; i < indiff.length; i = i + Number(data.trials_per_cost)) {
            filtered_indiff.push(indiff[i]);
        }
        var scaled_indiff = [];
        const max_indiff = Math.max(...indiff);
        for (i = 0; i < filtered_indiff.length; i++) {
            scaled_indiff.push(filtered_indiff[i] / max_indiff)
        };

        console.log(costs);
        console.log(indiff);
        console.log(filtered_costs);
        console.log(filtered_indiff);
        console.log(scaled_indiff);

        var trace = {
            x: filtered_costs,
            y: scaled_indiff,
            mode: 'markers',
            type: 'scatter',
            marker: { size: 12 }
        };

        var data = [trace];

        var layout = {
            xaxis: {},
            yaxis: {
                range: [-0.05, 1.05]
            },
            title: 'Indifference curve'
        };

        Plotly.newPlot('indiff_curve', data, layout);

    </script>

    <script src="../frontend/assets/js/jquery.min.js"></script>
    <script src="../frontend/assets/js/jquery.scrollex.min.js"></script>
    <script src="../frontend/assets/js/jquery.scrolly.min.js"></script>
    <script src="../frontend/assets/js/browser.min.js"></script>
    <script src="../frontend/assets/js/breakpoints.min.js"></script>
    <script src="../frontend/assets/js/util.js"></script>
    <script src="../frontend/assets/js/main.js"></script>
</body>

</html>