<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
	<title>lab_exp</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="frontend/assets/css/main.css" />
	<link rel="stylesheet" href="frontend/assets/css/card.css" />
	<link rel="stylesheet" href="frontend/assets/css/form.css" />

	<noscript>
		<link rel="stylesheet" href="frontend/assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">

	<!-- Wrapper -->
	<div id="wrapper">

		<!-- Header -->
		<header id="header" class="alt">
			<span class="logo"><img src="frontend/images/logo.svg" alt="" /></span>
			<h1>lab_exp</h1>
			<p>you can do experiments here :)</p>
		</header>

		<!-- Nav -->
		<nav id="nav">
			<ul>
				<li><a href="#intro" class="active">Introduction</a></li>
				<li><a href="#tasks">Tasks</a></li>
				<li><a href="#personality_test">Personality Tests</a></li>
				<li><a href="#statistics">Statistics</a></li>
				<li><a href="#faq">FAQ</a></li>
			</ul>
		</nav>

		<!-- Main -->
		<div id="main">

			<!-- Introduction -->
			<section id="intro" class="main">
				<div class="spotlight">
					<div class="content">
						<header class="major">
							<h2>Try our behavioral science studies!</h2>
						</header>
						<p>they're really cool</p>
						<ul class="actions">
							<li><a href="/studyA" class="button">Try StudyA</a>
							</li>
						</ul>
					</div>
					<span class="image"><img src="frontend/images/pic01.jpg" alt="" /></span>
				</div>
			</section>

			<!-- First Section -->
			<section id="tasks" class="main special">
				<header class="major">
					<h2>Tasks</h2>
				</header>
				<ul class="features">
					<li>
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="frontend/images/symbol_counting.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Symbol Counting</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the
									bulk of the card's content.</p>
								<a href="/symbol-count" class="btn btn-primary">Go to task</a>
							</div>
						</div>
					</li>
					<li>
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="frontend/images/delay_discount.png" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Delay Discount</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the
									bulk of the card's content.</p>
								<a href="/delay-discount" class="btn btn-primary">Go to task</a>
							</div>
						</div>
					</li>
					<li>
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="frontend/images/stroop.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Stroop</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the
									bulk of the card's content.</p>
								<a href="/stroop" class="btn btn-primary">Go to task</a>
							</div>
						</div>
					</li>
				</ul>
				<footer class="major">
					<ul class="actions special">
						<li><a href="http://michaelinzlicht.com/lab-view" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

			<section id="personality_test" class="main special">
				<header class="major">
					<h2>Personality Tests</h2>
				</header>
				<ul class="features">
					<li>
						<div class="card" style="width: 18rem;">
							<img class="card-img-top" src="frontend/images/personality_test.jpg" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title">Personality Test</h5>
								<p class="card-text">Some quick example text to build on the card title and make up the
									bulk of the card's content.</p>
								<a href="/bigfive-aspect" class="btn btn-primary">Go to survey</a>
							</div>
						</div>
					</li>
				</ul>
				<footer class="major">
					<ul class="actions special">
						<li><a href="http://michaelinzlicht.com/lab-view" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

			<!-- Statistics -->
			<section id="statistics" class="main special">
				<header class="major">
					<h2>Statistics</h2>
					<p>Some data</p>
				</header>
				<ul class="statistics">
					<li class="style1">
						<span class="icon solid fa-code-branch"></span>
						<strong><%= num_tasks %></strong> Tasks
					</li>
					<li class="style2">
						<span class="icon fa-folder-open"></span>
						<strong><%= num_studies %></strong> Studies
					</li>
					<li class="style3">
						<span class="icon solid fa-laptop"></span>
						<strong><%= num_entries %></strong> Entries
					</li>
				</ul>
				<p class="content">Here are some statistics.</p>
				<footer class="major">
					<ul class="actions special">
						<li><a href="/viz" class="button">Show More Data</a></li>
					</ul>
				</footer>
			</section>

			<!-- FAQ -->
			<section id="faq" class="main special">
				<header class="major">
					<h2>FAQ</h2>
					<p>Some frequently asked questions.</p>
				</header>
				<footer class="major">
					<ul class="actions special">
						<li><a href="frontend/generic.html" class="button primary">Read FAQ's</a></li>
						<li><a href="frontend/generic.html" class="button">Learn More</a></li>
					</ul>
				</footer>
			</section>

		</div>

		<!-- Footer -->
		<footer id="footer">
			<section>
				<form>
					<p>Contact Us</p>
					<div class="form-group">
						<label>Email address</label>
						<input class="form-control">
					</div>
					<div class="form-group">
						<label>Message</label>
						<input class="form-control">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</section>
			<section>
			</section>
		</footer>

	</div>

	<!-- Scripts -->
	<script src="frontend/assets/js/jquery.min.js"></script>
	<script src="frontend/assets/js/jquery.scrollex.min.js"></script>
	<script src="frontend/assets/js/jquery.scrolly.min.js"></script>
	<script src="frontend/assets/js/browser.min.js"></script>
	<script src="frontend/assets/js/breakpoints.min.js"></script>
	<script src="frontend/assets/js/util.js"></script>
	<script src="frontend/assets/js/main.js"></script>

</body>

</html>