<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Privacy</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Anthrope Privacy Policy">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2"
    crossorigin="anonymous"> -->
</head>

<body style="overflow-x: hidden; ">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>

  <div class="article-progress">
    <progress class="reading-position" value="0"></progress>
    <div class="article-progress-wrapper">
      <div class="container">
        <div class="row">
          <div class="col py-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="text-small text-muted mr-1">Reading:</div>
                <div class="text-small">Privacy and Data Policy</div>
              </div>
              <a href="/" class="btn btn-sm btn-outline-primary">
                <span>Return Home</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pt-5" data-reading-position>
    <div class="container">
      <div class="row">
        <div class="col-auto">
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
              <h1 class="my-2">Privacy and Data Policy</h1>
              <hr>
              <article class="article">
                <p class="lead">
                  What user information do we collect and how are they collected?
                </p>
                <p>
                  While you navigate Anthrope and complete any survey, task, or study, Anthrope will record your responses (e.g., buttons clicked, keyboard buttons pressed, reaction times). The JavaScript library <a href="https://www.jspsych.org/" target="_blank">jspsych</a> is used to display whatever you see on the screen and collect data. Personal information collected about you are limited to the questions we explicitly solicit from you. In addition, Anthrope also collects your IP address.
                </p>

                <p class="lead">
                  Who controls or has access to the data collected on Anthrope?
                </p>
                <p>
                  As stated in all the informed consent pages, only researchers affiliated with the University of Toronto will have access to the data. 
                </p>
               
                <p class="lead">
                  What will be the data on Anthrope be used for?
                </p>
                <p>
                  Anthrope is a platform for scientific research and is run by a team of psychological and behavioral scieence researchers at the University of Toronto. As stated in all the informed consent pages, researchers at the University of Toronto are using this platform to understand human psychology and personality. The data will be used to inform scientific research and may be published in scientific or academic journals. No personally identifiable information will ever be published or made public. 
                </p>
               
                <p class="lead">
                  How is my data protected?
                </p>
                <p>
                  Anthrope's database is hosted on MongoDB Atlas. MongoDB is responsible for protecting the infrastructure that runs its services in the cloud. MongoDB Atlas undergoes <a href="https://www.mongodb.com/cloud/trust" target="_blank">independent verification</a> of platform security, privacy, and compliance controls. 
                </p>

                <p class="lead">
                  How long will Anthrope honor this privacy and data policy?
                </p>
                <p>
                  Any change to our policy will be immediately reflected on this page.
                </p>
<!--                 
              <h6>Fine Print</h6>
              <small>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in culpa qui officia
                deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
                distinctio.Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id
                quod maxime placeat facere
                possimus, omnis voluptas assumenda est, omnis dolor repellendus.</small> -->
              <!-- <hr> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>