<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Anthrope</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2">
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2">
</head>

<body style="overflow-x: hidden; " data-smooth-scroll-offset="73">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <%- include('partials/menu_bar_internal') %>
  <div data-overlay class="bg-primary text-light o-hidden position-relative">
    <section class="text-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-9">
            <h2 class="h1">Surveys</h2>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="pt-4 bg-primary-alt">
    <div class="dropdown" style="text-align: center;">
      <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-grid" type="button" aria-expanded="false"
        aria-haspopup="true">
        <span>View all</span>
        <!-- Arrow icon SVG in dropdown toggle -->
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z"
            fill="#212529"></path>
        </svg>
      </button>
      <div class="justify-content-center dropdown-menu row">
        <div class="col-xl-6 col-lg-7 col-md-8" data-dropdown-content>
          <div class="card card-body shadow p-0">
            <h6 class="mb-0 dropdown-content" style="padding: 5px;">Surveys</h6>
            <hr class="m-0">
            <div class="row no-gutters">
              <div class="col-md">
                <a href="#bigfiveaspect" data-smooth-scroll class="d-flex m-3">
                  <!-- Timer icon SVG -->
                  <svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Timer</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                      <path
                        d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z"
                        fill="#000000" opacity="0.3"></path>
                      <path
                        d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z"
                        fill="#000000"></path>
                      <path
                        d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z"
                        fill="#000000"></path>
                      <path
                        d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z"
                        fill="#000000"></path>
                    </g>
                  </svg>
                  <div class="ml-2">
                    <span class="h6 mb-0">Big five aspects</span>
                    <div class="text-small text-muted">See your big five personality traits.</div>
                  </div>
                </a>
              </div>
              <div class="col-md">
                <a href="#gritshort" data-smooth-scroll class="d-flex m-3">
                  <!-- Page icon SVG -->
                  <svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For File</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                      <path
                        d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z"
                        fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                      <rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"></rect>
                      <rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"></rect>
                    </g>
                  </svg>
                  <div class="ml-2">
                    <span class="h6 mb-0">Grit short</span>
                    <div class="text-small text-muted">Short survey about your grit.</div>
                  </div>
                </a>
              </div>
            </div>
            <hr class="m-0">
            <div class="px-3 py-2 d-flex justify-content-between align-items-center">
              <span class="text-small">Click on the task to scoll to that section.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0 bg-primary-alt" id="delaydiscount">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="/tasks/delaydiscount">
            <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;"
              src="../public/assets/img/surveys/bigfiveaspect.jpg"
              class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-left">
            <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
              <a href="/tasks/delaydiscount" class="fade-up">
                <h3 class="h2">Big five aspects</h3>
              </a>
              <p class="lead">
                See your big five personality traits.
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                  <span class="h6 mb-0 ml-2">3-5 Minutes</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                    alt="icon" />
                  <span class="h6 mb-0 ml-2"><%= entries_bigfiveaspect %> Entries</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <a href="/" class="btn btn-secondary" data-smooth-scroll>See visualization</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0 bg-primary-alt" id="symbolcount">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="/tasks/symbolcount">
            <img align="right" style="width:80%; height: 300px; object-fit: cover; margin-right: 25px;"
              src="../public/assets/img/surveys/gritshort.jpg"
              class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-left">
            <div class="col-xl-9 col-lg-10" style="margin-left: 25px;">
              <a href="/tasks/symbolcount" class="fade-up">
                <h3 class="h2">Grit short</h3>
              </a>
              <p class="lead">
                Short survey about your grit.
              </p>
              <ul class="list-unstyled my-3">
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/home/clock.svg" alt="icon" />
                  <span class="h6 mb-0 ml-2">3-5 Minutes</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <img class="icon icon-lg" src="../public/assets/img/icons/theme/communication/add-user.svg"
                    alt="icon" />
                  <span class="h6 mb-0 ml-2"><%= entries_gritshort %> Entries</span>
                </li>
                <li class="d-flex align-items-center my-2">
                  <a href="/" class="btn btn-secondary" data-smooth-scroll>See visualization</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>