<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Terms</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Anthrope Terms">
  <link href="../public/assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link href="../public/assets/css/custom.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI-upright.var.woff2" type="font/woff2"
    crossorigin="anonymous">
  <link rel="preload" as="font" href="../public/assets/fonts/Inter-UI.var.woff2" type="font/woff2"
    crossorigin="anonymous"> -->
</head>

<body style="overflow-x: hidden; ">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>

  <div class="article-progress">
    <progress class="reading-position" value="0"></progress>
    <div class="article-progress-wrapper">
      <div class="container">
        <div class="row">
          <div class="col py-2">
            <div class="d-flex justify-content-between align-items-center">
              <div class="d-flex">
                <div class="text-small text-muted mr-1">Reading:</div>
                <div class="text-small">Terms and Conditions</div>
              </div>
              <a href="/" class="btn btn-sm btn-outline-primary">
                <span>Return Home</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="pt-5" data-reading-position>
    <div class="container">
      <div class="row">
        <div class="col-auto">
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8">
              <h1 class="my-2">Terms and conditions</h1>
              <p>Effective as of 8 November, 2020</p>
              <hr>
              <article class="article">
                <p class="lead">Introduction</p>
                <p>
                  Anthrope is a free platform that helps psychological and behavioral science researchers understand human cognition, behavior, and personality. Its purpose is to support scientific research. By using Anthrope, you are agreeing to our Privacy Policy and these Terms and Conditions and any additional terms in the informed consent statements associated with each survey, task, or study. You acknowledge that you have read and understood all agreements and consent forms.
                </p>

                <p class="lead"> Rights you grant us </p>
                <p>
                  Researchers at the University of Toronto and research collaborators will use the data collected on Anthrope to inform future scientific research and publish at conferences and scientific journals.
                </p>

                <p class="lead"> User guidelines and permissions </p>
                <p>
                  You can freely share and reuse any data visualizations you see on Anthrope, though attribution is appreciated. You can also reuse all images on Anthrope, which are from <a href="https://unsplash.com/license" target="_blank">Unsplash</a>.
                </p>

                <p class="lead"> How long will Anthrope honor these terms and conditions? </p>
                <p>
                  Any change will be immediately reflected on this page.
                </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('partials/footer') %>