Pass in variable dynamically via ejs:

<h2><%=my_variable%></h2>

<p>
    <b><br>Look inside views directory for test.ejs, which is the template for this page</br></b>
    <br>Try changing the route to anything else to see it in action.</br>
    <br>localhost:8080/abc</br>
    <br>localhost:8080/cde</br>
    <br>localhost:8080/testing_ejs</br>
</p>