/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

@font-face {
    font-family: Inter-UI-upright;
    src: url(../fonts/Inter-UI-upright.var.woff2);
}

@font-face {
    font-family: Inter-UI;
    src: url(../fonts/Inter-UI.var.woff2);
}

.index-background {
  background-image: url('../img/people.jpg');
  background-position: 50% 43%;
}

.btn, .btn-lg, .btn-primary-3 {
    border-radius: 10px;
}

#menubar-index, #menubar-internal, #menubar-viz {
    max-height: 75px;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#internal-page-studies {
    min-height: 600px; /* to ensure footer stays at the bottom and doesn't look weird */
}

#faq {
    text-align: center;
}

/* https://stackoverflow.com/questions/15649244/responsive-font-size-in-css */
.main-title {
    font-size: calc(80px + 0.4vw);
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
}

/* https://www.w3schools.com/howto/howto_css_responsive_text.asp */
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .main-title {
    font-size: 50px;
  }
}