/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

@font-face {
    font-family: Inter-UI-upright;
    src: url(../fonts/Inter-UI-upright.var.woff2);
}

@font-face {
    font-family: Inter-UI;
    src: url(../fonts/Inter-UI.var.woff2);
}

/* https://www.w3schools.com/cssref/tryit.asp?filename=trycss3_background-size */

.index-background {
    background-image: url('../img/people.jpg');
    background-position: 50% 43%;
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn, .btn-lg, .btn-primary-3 {
    border-radius: 10px;
}

/* #menubar-index, #menubar-internal, #menubar-viz {
    max-height: 75px;
} */

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#internal-page-studies {
    min-height: 600px;
    /* to ensure footer stays at the bottom and doesn't look weird */
}

#faq {
    text-align: center;
}

/* https://stackoverflow.com/questions/15649244/responsive-font-size-in-css */

.main-title {
    font-size: calc(80px + 0.4vw);
    text-align: center;
    line-height: 1.2;
    font-weight: 500;
}

/* https://www.w3schools.com/howto/howto_css_responsive_text.asp */

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */

@media screen and (max-width: 600px) {
    .main-title {
        font-size: 50px;
    }
}

.viz-subsections {
    padding: 1rem;
}

/* navigation float right instead of left */

/* https://stackoverflow.com/questions/24942637/how-to-align-tabs-to-top-right-in-bootstrap-3/24943625 */

.navbar-nav {
    float: right;
}

.navbar-expand-lg {
    padding: 5px !important;
}

.fa {
    width: 35px;
    padding: 10px;
    margin-right: 8px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5%;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-home {
    background: white;
    color: #38405c;
}

.fa-envelope {
    background: white;
    color: #38405c;
}

#no-data-text {
    color: #b22222;
    font-weight: bold;
}

div.share-buttons {
    width:25vw;
    margin:0 auto;
    text-align:center;
}

ul.share-buttons {
    list-style: none;
    cursor: default;
    padding: 0;
}

ul.share-buttons li {
    display: inline;
    padding: 10px;
}

.share-button {
    max-width: 24px;
    max-height: 24px;
}