/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

@font-face {
    font-family: Inter-UI-upright;
    src: url(../fonts/Inter-UI-upright.var.woff2);
}

@font-face {
    font-family: Inter-UI;
    src: url(../fonts/Inter-UI.var.woff2);
}

.index-background {
  background-image: url('../img/people.jpg');
  background-position: 50% 43%;
}

.btn, .btn-lg, .btn-primary-3 {
    border-radius: 10px;
}

#menubar-index, #menubar-internal, #menubar-viz {
    max-height: 75px;
}

section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}